<div class="conatiner">
      <input type="nubmer" style="width:45%; padding: 1rem;font-size: 2rem;" [(ngModel)]="selectValue.unit" (ngModelChange)="calcularateAarea($event)">
      <br>
      <select style="width: 45%; font-size: 2rem;" [(ngModel)]="selectValue.fromUnit" (ngModelChange)="calcularateAarea($event)">
        @for (unit of fromUnits; track $index) {
          <option [value]="unit.unitname" >{{ unit.unitname }}</option>
        }
      </select>
</div>
<div class="conatiner">
  <h1> {{ selectValue.unit }} &nbsp; {{ selectValue.fromUnit }}  = {{ selectValue.result | number }} ตารางเมตร </h1>
</div>
